$border-rounding: 8px;
$color-hover: rgb(150, 50, 25);

.dialog-box {
    position: absolute;
    width: 200px;
    height: 150px;
    z-index: 1;

    h3 {
        width: fit-content;
        font-size: 2.1em;
        padding: 8px;
        background-color: white;
        text-align: left;
        border-top-left-radius: $border-rounding;
        border-top-right-radius: $border-rounding;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    }

    &.choice-box {
        width: auto;
        height: auto;

        h3 + ul {
            border-top-left-radius: 0;
        }

        ul {
            background-color: white;
            box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
            border-radius: $border-rounding;
            padding: 8px;

            li {
                display: flex;
                justify-content: space-between;
                min-width: 200px;
                border: 1px solid;
                border-top: none;
                padding: 8px 16px;
                font-size: 2em;
                text-transform: uppercase;

                &:first-child {
                    border-top: 1px solid;
                    border-top-left-radius: ($border-rounding / 2);
                    border-top-right-radius: ($border-rounding / 2);
                }
                &:last-child {
                    border-bottom-left-radius: ($border-rounding / 2);
                    border-bottom-right-radius: ($border-rounding / 2);
                }

                &.selected {
                    background-color: gold;
                }

                span.skill-name {
                    margin-right: 24px;
                }
            }
        }

    }

    &:not(.inactive) {
        ul {
            li {
                border-color: black;
                cursor: pointer;

                &:not(.selected):hover {
                    background-color: $color-hover;
                    color: white;
                }
            }
        }
    }

    &.inactive {
        z-index: 0;

        h3 {
            background-color: gray;
            color: $color-hover;
        }

        ul {
            background-color: gray;
            color: $color-hover;

            li {
                border-color: $color-hover;
                cursor: default;
            }
        }
    }
}