* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Squada One', 'Courier New', Courier, monospace;
    user-select: none;
}

ul {
    list-style: none;
}

body {
    text-align: center;
}

@import 'parts/_attributes';
@import 'parts/_battle_manager_box';
@import 'parts/_dialog_box';
@import 'parts/_stat_bar';
